*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.hero h1{
  font-size: 70px;
  color: white;
  
}
.hero button{
 
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: black;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;
  margin-top: 50px;
  border: 0;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hero button:hover,
.hero buttonfocus-visible{
  --_p: 0px;
  outline-color: white;
  outline-offset: .05em;
}

.hero button:active {
  background: black;
  color: white;
}
